@{
    ViewData["Title"] = "Already Learning";
}

<h1>You Are Already Learning This Language</h1>

<a asp-action="languages">Browse Languages</a>
<a asp-controller="home" asp-action="index">Return Home</a>

